# Frontend Mentor files
*.zip
starter-code
README-template.md
.DS_Store
solutions/**/.vscode
solutions/**/design
solutions/**/starter-code
solutions/**/style-guide.md

# Nuxt Files
solutions/**/node_modules
solutions/**/.nuxt